/*! rename heading */
.heading {
  background-image: url(images/technology-section-bg.jpg);
  padding-top: 150px;
  /* 150px = 10.5% from 1440px */
  padding-left: 210px;
  /* 210px = 14.6% from 1440px */
  /*? Is it possible to set up a min padding */
}

.topic {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
}

.section-heading {
  font-weight: 700;
  font-size: 38px;
  /*! change px to rem */
  line-height: 111%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.arrow-link {
  background-image: url(images/arrow.svg);

}

.points {
  display: flex;
}
