body {
  font-family: Tomorrow, sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header-logo {
  display: inline-block;
  margin-left: 4%;
  margin-top: 48px;
  margin-bottom: 38px;
}

nav,
.nav,
.search {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav li,
.search li {
  display: inline;
}

.right-side-header {
  float: right;
  margin: 50px 0 40px 0;
}

.search {
  position: relative;
  top: 4px;
}

.list-item {
  margin-left: 20px;
}

.shopping-bag-icon {
  position: relative;
  top: 4px;
  margin-left: 10px;
}
