body {
  font-family: Sintony, sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header-logo {
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 38px;
}

nav,
.nav,
.search {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav li,
.search li {
  display: inline;
}

.right-side-header {
  float: right;
  margin: 50px 0 40px 0;
}

.search {
  position: relative;
  top: 6px;
}

.list-item {
  font-family: Tomorrow;
  margin-left: 20px;
}

.shopping-bag-icon {
  position: relative;
  top: 4px;
  margin-left: 10px;
}

.intro {
  background-image: url(images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Tomorrow;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0;
}

.main-heading {
  letter-spacing: 0.105rem;
  margin: 0;
  padding-top: 38px;
}

.intro-img {
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

.heading-second {
  margin-top: 13%;
  margin-bottom: 13%;
}

.section-two-img {
  margin-right: 32px;
  float: left;
}

.section-three {
  background-image: url(images/section-three-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-three-heading {
  letter-spacing: 0.14rem;
  padding: 17% 7%;
}

.section-four-img {
  margin-right: 11%;
  float: left;
  margin-bottom: 10%;
}

.section-four-heading {
  margin-top: 10%;
  margin-bottom: 5%;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}
