body {
  background: #ecede8;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  text-align: center;
  margin: 15px 0;
}

.header-menu {
  border-top: 1px solid #b4acaa;
  border-bottom: 1px solid #b4acaa;
  padding: 18px 0;
  text-align: center;
}

.nav,
nav {
  display: inline;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a {
  color: #7a6f6b;
}

.header-menu__cart {
  float: right;
  width: 20%;
  text-align: right;
}

.nav-lang {
  float: left;
  width: 20%;
  text-align: left;
}
